# Configurações do Discord
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
CALLBACK_URL=http://localhost:3000/callback

# Banco de dados
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Sessão
SESSION_SECRET=your_session_secret

# Discord Guild e Roles
GUILD_ID=your_guild_id
PROFESSOR_ROLE_ID=1481534980617408602
ALUNO_ROLE_ID=1481537026867073127

# Ambiente
NODE_ENV=development