# Configurações do Discord
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
CALLBACK_URL=https://server-production-6e00.up.railway.app/callback

# Banco de dados
DATABASE_URL=postgresql://postgres:MwNBAzPNDemiaqhUYskXzCbEbiEqDWIH@postgres.railway.internal:5432/railway

# Sessão
SESSION_SECRET=your_session_secret

# Discord Guild e Roles
GUILD_ID=1481152031560568956
PROFESSOR_ROLE_ID=1481534980617408602
ALUNO_ROLE_ID=1481537026867073127

# Ambiente
NODE_ENV=development